*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: #2980b9;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}
.note{
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    margin: 2rem;
}
.tool{
    width: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
}
.tool i{
    cursor: pointer;
}
textarea{
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
}
textarea:focus{
    outline: none;
    padding: 0.5rem;
}
#addNote{
    position: fixed;
    right: 10px;
    top: 10px;
    color: white;
    background-color: #2c3e50;
    padding: 1em 2em;
    cursor: pointer;
}